
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>welcome</h1>
<a asp-action="AllClient">AllClient</a><br />
<a asp-action="AllLoan" asp-controller="Loan">AllLoan</a>
